.input {
    width: 325px;
    display: flex;
    flex-direction: column-reverse;
    position: relative;
    padding-top: 1.5rem;
}

.inputLabel {
    color: #426e86;
    position: absolute;
    font-size: 18px;
    top: 1.5rem;
    transition: 0.25s ease;
}

.inputField {
    border: 0;
    z-index: 1;
    color: #2f3131;
    background-color: transparent;
    border-bottom: 2px solid #426e86;
    font-size: 18px;
    padding: 5px;
}

.inputField:focus,
.inputField:valid {
    outline: 0;
}

.inputField:focus+.inputLabel,
.inputField:valid+.inputLabel {
    transform: translateY(-1.5rem);
}