.linksThumb {
    display: flex;
    gap: 20px;
    margin-left: 20px;
}

.link {
    text-decoration: none;
    padding: 12px;
    font-size: 18px;
    font-weight: 500;
    color: #f8f1e5;
    cursor: pointer;
}

.link:hover {
    color: #f9ba32;
}

.active {
    text-decoration: none;
    padding: 12px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    color: #f9ba32;
}