.section {
    margin-top: 40px;
    
    display: flex;
    flex-direction: column;
    
}

.page-title {
    text-align: center;
    color: #2f3131;
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: 500;
}